# Runtime and Build Outputs
build/
dist/
dist-ssr/
coverage/
logs/
*.log
*.tsbuildinfo
*.dump
*.sqlite
*.local

# Environment Variables
.env

# Dependency Directories
node_modules

# Documentation
docs/

# OS and Editor Files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Debug Log Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
